
/* super small screens */ 
@media only screen and (min-width : 320px) {
	.jumbotron{
		background: url("../media/background.jpg") repeat;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.jumbotron{
		background: url("../media/background.jpg") repeat;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.jumbotron{
		background: url("../media/background.jpg") repeat;
		background-size: cover;
		background-repeat: no-repeat;

	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.jumbotron{
		background: url("../media/oldbackground.jpg") repeat;
		background-repeat: no-repeat;
		background-size: cover;
	}
	

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
.color-primary-0 { color: #911C1C }	/* Main Primary color */
.color-primary-1 { color: #DF7171 }
.color-primary-2 { color: #B43D3D }
.color-primary-3 { color: #680404 }
.color-primary-4 { color: #400000 }

.color-background-0 { background-color: #911C1C }	/* Main Primary color */
.color-background-1 { background-color: #DF7171 }
.color-background-2 { background-color: #B43D3D }
.color-background-3 { background-color: #680404 }
.color-background-4 { background-color: #400000 }


.jumbotron{
	height: 350px;
	background-size: cover;
	text-align: center;
}

.title{
	text-shadow: black 0.3em 0.3em 0.3em;
}
.tagline{
	background-color:rgba(255,255,255,0.4);
	font-weight: bold;
}
.footer{
	text-align: center;
}
